<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918524923221-pd5abon34k65lnt5f9f8chag0kfu365c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918524923221-pd5abon34k65lnt5f9f8chag0kfu365c</string>
	<key>API_KEY</key>
	<string>AIzaSyAu4igBiIRSsXvavX4lgexsCKzGUqwu6FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>918524923221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n.ReadReceipt</string>
	<key>PROJECT_ID</key>
	<string>read-receipt-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>read-receipt-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918524923221:ios:b6ce83b202bd32856133dc</string>
	<key>DATABASE_URL</key>
	<string>https://read-receipt-ios.firebaseio.com</string>
</dict>
</plist>